*{
    box-sizing: border-box;
}
body{
    font-family: Tahoma, Arial;
    margin: 0;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%, rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%, rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%, rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%), linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%, rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%, rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%), linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%, rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%, rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%, rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%), linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%, rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%, rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%, rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%), linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%, rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%, rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%, rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%), linear-gradient(90deg, rgb(4, 16, 87), rgb(21, 69, 155));
}
.Quiz-app{
    width: 700px;
    margin: auto;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 10px;
}
.Quiz-info{
    display: flex;
    justify-content: space-between;
    background-color: #234382;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
input[type="Radio"]{
    width: 15px;
}
input[type="Radio"]:checked+label{
    color: #234382;
}
.answer{
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}
.answer label{
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 10px;
    padding: 17px 0px;
}
.submit{
    border: none;
    outline: none;
    background-color: #234382;
    color: white;
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.bullets{
    display: flex;
}

.bullets span{
    width: 15px;
    display: block;
    height: 15px;
    margin:10px 5px;
    border: solid 1px #777;
    border-radius: 15px;
    background-color: white;
}
.bullets span.on{
    background-color: #234382;
    border: none;
}
.footer{
    margin-top: 15px;
    background-color: white;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 5px;
}
.Quiz-app .result{
    margin: 30px;
    text-align: center;
}
.Quiz-app .result span {
    font-weight: bold;
}
.Quiz-app .result span.bad {
    color: #dc0a0a;
}
.Quiz-app .result span.good {
    color: #009688;
}
.Quiz-app .result span.perfect {
    color: #234382;
}